@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$electric: #0079ff;
$gray: #697c9a;
$dark-sky: #4b6a9b;
$dark-blue: #2b3442;
$light-bg: #f6f8ff;
$light: #fefefe;
$white: #ffffff;
$dark: #141d2f;
$semi-dark: #1e2a47;
$error: #f74646;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", monospace;
  padding: 0 2.4rem;
  background: $light-bg;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.1rem;
}

.theme-panel {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.8rem;
  color: #222731;
}

.theme-text {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: $dark-sky;
}

#sun {
  display: none;
}

.card {
  width: 100%;
  background-color: $white;
  box-shadow: 0rem 1.6rem 3rem -1rem rgba(70, 96, 187, 0.198567);
  border-radius: 1.5rem;
}

.form {
  padding: 0.7rem 0.7rem 0.7rem 1.6rem;
  margin-top: 3.6rem;
  display: flex;
  align-items: center;
}

.card.dark {
  background-color: $semi-dark;
  box-shadow: none;
}

#user {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-left: 0.9rem;
  font-family: "Space Mono", monospace;
  color: #222731;
  width: 18.4rem;
}

#user.dark {
  color: $white;
  background-color: transparent;
}

#user::placeholder {
  color: $dark-sky;
}

#user.dark::placeholder {
  color: $white;
}

.btn {
  padding: 1.2rem 1.6rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  background-color: $electric;
  border: none;
  color: $white;
  cursor: pointer;
  border-radius: 1rem;
  margin-left: 0.7rem;
}

.error {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $error;
  height: 2.5rem;
  width: fit-content;
  margin-right: auto;
}

.user-info {
  padding: 3.2rem 2.4rem 4.8rem 2.4rem;
}

.avatar-desktop {
  display: none;
}

.info {
  width: 100%;
}

.general {
  display: flex;
  align-items: center;
  column-gap: 1.9rem;
}

.avatar-mobile {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.name {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.37rem;
  color: $dark-blue;
  text-transform: capitalize;
}

.login {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: $electric;
}

.join-date {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: $gray;
  margin-top: 6px;
}
